.customers--list {
    margin: 100px auto 0 auto;
    color: #0367B4;
    background-color: #fff;
    border: 2px #e6e6e6 solid;
    border-spacing: 0;
    cursor: default;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Basic', sans-serif;
    text-align: center;
}

.customers--list thead tr {
    background-color: #e6e6e6;
    text-align: center;
    height: 40px;
}

.customer--list-item {
    height: 40px;
    position: relative;
    text-align: left;
    padding: 0 10%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
}

tr:nth-child(4n) {
    background-color: #f3fafe;
}

.customer--list-row:nth-child(4n-1) {
    background-color: #f3fafe;
}

th:nth-child(n+2) {
    display: none;
}

td:nth-child(n+2) {
    display: none;
}

.customer--details span {
    box-shadow: none;
}

.customer--details {
    display: none;
}

.arrow-icon {
    height: 25px;
    width: 25px;
    background: url('img/arrow-icon.svg');
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 5px;
    animation: arrow-rotate-back 300ms forwards;
}

@keyframes arrow-rotate {
    0% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes arrow-rotate-back {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(180deg);
    }
}

@media screen and (min-width: 768px) {
    .customers--list {
        font-size: 20px;
    }

    .customer--list-item {
        box-shadow: none;
        padding: 0;
        text-align: center;
    }

    th:nth-child(n+2), td:nth-child(n+2) {
        display: table-cell;
    }

    .customer--details {
        display: none;
    }

    tr:nth-child(4n+1) {
        background-color: #f3fafe;
    }

    .customer--list-row:nth-child(4n-1) {
        background-color: #fff;
    }

    .arrow-icon {
        display: none;
    }
}