.customers--list {
    margin: 100px auto 0 auto;
    color: #0367B4;
    background-color: #fff;
    border: 2px #e6e6e6 solid;
    border-spacing: 0;
    cursor: default;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Basic', sans-serif;
    text-align: center;
}

.customers--list thead tr {
    background-color: #e6e6e6;
    text-align: center;
    height: 40px;
}

.customer--list-item {
    text-align: center;
    height: 40px;
}

tr:nth-child(4n) {
    background-color: #f3fafe;
}

.customer--list-row:nth-child(4n-1) {
    background-color: #f3fafe;
}

th:nth-child(n+2) {
    display: none;
}

td:nth-child(n+2) {
    display: none;
}

.customer--details {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .customers--list {
        font-size: 20px;
    }

    .customer--list-item {
        border-bottom: 1px #e6e6e6 solid;
    }

    th:nth-child(n+2), td:nth-child(n+2) {
        display: table-cell;
    }

    .customer--details {
        display: none;
    }

    tr:nth-child(4n+1) {
        background-color: #f3fafe;
    }

    .customer--list-row:nth-child(4n-1) {
        background-color: #fff;
    }
}